services:
  gitlab_runner:
    image: {{ gitlab_runner_image }}:{{ gitlab_runner_image_tag }}
    container_name: gitlab_runner
    restart: always
    volumes:
      - "{{ gitlab_runner_install_dir }}/config.toml:/etc/gitlab-runner/config.toml:ro"
      - "/var/run/docker.sock:/var/run/docker.sock"
    networks:
      - vm-docker-90-net

networks:
  vm-docker-90-net:
    driver: bridge
