# {{ ansible_managed }}
#
# Caddy reverse proxy configuration
# LAN prive, transport securise par VPN WireGuard

{% for backend in caddy_backends %}
{% if backend.tls_internal | default(false) %}
{{ backend.domain }} {
	tls internal
{% else %}
{{ backend.domain }}:80 {
{% endif %}
	reverse_proxy {{ backend.upstream }} {
{% if backend.tls_insecure_skip_verify | default(false) %}
		transport http {
			tls_insecure_skip_verify
		}
{% endif %}
	}
}

{% endfor %}
