# {{ ansible_managed }}
#
# Caddy reverse proxy configuration
# HTTP only — LAN prive, transport securise par VPN WireGuard

{
	auto_https off
}

{% for backend in caddy_backends %}
{{ backend.domain }}:80 {
	reverse_proxy {{ backend.upstream }} {
{% if backend.tls_insecure_skip_verify | default(false) %}
		transport http {
			tls_insecure_skip_verify
		}
{% endif %}
	}
}

{% endfor %}
