services:
  portainer_agent:
    image: portainer/agent:2.33.3@sha256:1da68e0e5f279b465d4851c27d73c8245df93ecac864c086db075be8c313e396
    container_name: portainer_agent
    restart: always
    ports:
      - "9001:9001"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "/var/lib/docker/volumes:/var/lib/docker/volumes"
    networks:
      - vm-docker-90-net

networks:
  vm-docker-90-net:
    driver: bridge
